<h2>Activate Your eSIM Before Your Trip!</h2>
<p>Hi <%= customerName %>,</p>
<p>Your travel date is approaching! Make sure your eSIM is activated before you leave.</p>
<ul>
    <li>Go to Settings > Mobile Network > Add eSIM</li>
    <li>Scan the QR code we sent you</li>
    <li>Enable data roaming and restart your device</li>
</ul>
<p><a href="<%= activationGuideLink %>">View Activation Guide</a></p>