<p>Hi <%= customerName %>,</p>

<p>We wanted to let you know that your RoamDigi account password has been successfully changed.</p>

<p>If you made this change, no further action is required.</p>

<p>If you did not authorize this change, please reset your password immediately and contact our support team.</p>

<p>For your security, we recommend using a strong password and enabling two-factor authentication if available.</p>

<p>Need help? Contact our support team at <%= supportEmail %>.</p>

<p>Best regards,</p>
<p><strong>RoamDigi Team</strong></p>
