<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>We detected a login to your account.</p>
<p>If this was you, no action is needed. If you don’t recognize this activity, please secure your account immediately.</p>
<p><a href="https://roamdigi.com/login">Reset Password</a></p>
<p>For assistance, reach out to our support team at <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>.</p>
<p>Stay secure,<br>RoamDigi Team</p>