<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>You’re almost out of data! You’ve used 80% of your plan. Stay connected by topping up now.</p>
<p><a href="https://roamdigi.com/top-up">Top Up Now</a></p>
<p>For assistance, reach out to our support team at <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>.</p>
<p>Happy travels!<br>RoamDigi Team</p>