<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>Your eSIM plan for <%= COUNTRY %> expires in 24 hours. Stay connected by renewing your plan now.</p>
<p><a href="https://roamdigi.com/renew">Renew Now</a></p>
<p>Need a different plan? Check out our latest offers!</p>
<p>Safe travels,<br>RoamDigi Team</p>