<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>Your eSIM plan has expired. Don’t worry, you can easily renew or get a new plan!</p>
<p><a href="https://roamdigi.com/eSim-plans">Get a New eSIM</a></p>
<p>For assistance, reach out to our support team at <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>.</p>
<p>Looking forward to keeping you connected!<br>RoamDigi Team</p>