<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>We wanted to let you know that your password has been changed. If you made this change, no further action is required.</p>
<p>If you did not request this change, please secure your account immediately by resetting your password again and contacting our support team.</p>
<p><a href="https://roamdigi.com/login">Reset Password</a></p>
<p>For assistance, reach out to our support team at <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>.</p>
<p>Stay secure,<br>RoamDigi Team</p>
