<h3>Dear Customer</h3>,
<p>Your OTP: <strong><%= OTP_CODE %></strong></p>
<p>Your security is our priority at RoamDigi. Use this OTP to complete your verification securely. If you didn’t request this, please ignore the message. For any help, we're just a message away.</p>
<p>For assistance, reach out to our support team at <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>.</p>
<p>Stay secure,<br>RoamDigi Team</p>


